name: dispatch
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "poziom logowania"
        default: "warning"
        options: 
          - info
          - warning
          - debug
        required: true
        type: choice
      environment:
        type: environment

jobs:
  log-the-inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Print info
        run: |
          echo "Log level: $LEVEL"
          echo "Tags: $TAGS"
          echo "Environment: $ENVIRONMENT"
        env:
          LEVEL: ${{ inputs.logLevel }}
          TAGS: ${{ inputs.tags }}
          ENVIRONMENT: ${{ inputs.environment }}
